@model SellingBook.Models.BasicModels.Order

@{
    ViewData["Title"] = "Order Details";
}
<h2 class="my-4 text-center">Order Details</h2>

<p><strong>Order ID:</strong> @Model.OrderId</p>
<p><strong>Customer:</strong> @Model.User.FullName</p>
<p><strong>Email:</strong> @Model.User.Email</p>
<p><strong>Order Date:</strong> @Model.CreatedAt.ToString("dd/MM/yyyy")</p>
<p><strong>Total Amount:</strong> @Model.TotalAmount.ToString("N0") VND</p>

<h3 class="my-4 text-center">Product Details</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.OrderItemQuantity</td>
                <td>@item.OrderItemPrice.ToString("N0") $</td>
                <td>@((item.OrderItemPrice * item.OrderItemQuantity).ToString("N0")) $</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "OrderManagement")" class="btn btn-secondary">Back to Orders</a>
