@model SellingBook.Models.BasicModels.Category
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2 class="my-4 text-center text-dark fw-bold">@Localizer["Category List"]</h2>

    <form asp-action="Update" method="post" class="card p-4 shadow-lg">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <input type="hidden" asp-for="CategoryId" />

        <div class="form-group mb-3">
            <label asp-for="CategoryName" class="fw-bold">@Localizer["Category Name"]</label>
            <input asp-for="CategoryName" class="form-control" placeholder=@Localizer["Enter category name..."] />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg me-2">@Localizer["Save"]</button>
            <button type="submit" formaction="@Url.Action("DeleteConfirmed", "Categories", new { id = Model.CategoryId })"
                    class="btn btn-danger btn-lg"
                    onclick="return confirm(@Localizer["Are you sure you want to delete this category?"]);">
                @Localizer["Delete"]
            </button>
            <a asp-action="Index" class="btn btn-secondary btn-lg me-2">@Localizer["Back"]</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

